@import url("https://fonts.googleapis.com/css2? family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #0f0f0f;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: #fbfbfb;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 28px;
}

nav ul li a:hover {
  font-weight: bold;
}

#name {
  width: 130px;
}

main {
  max-width: 1200px;
  background-color: #fbfbfb;
}

section {
  width: 100%;
  min-width: 280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#inicio {
  max-height: 100vh;
}

.photo {
  margin-top: 100px;
  border-radius: 50%;
  max-width: 18rem;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin: 20px auto 20px;
  max-width: 70vw;
}

button {
  background-color: #af599e;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

button a {
  color: #fbfbfb;
  font-size: 20px;
  text-decoration: none;
}

article {
  background-color: rgba(175, 89, 158, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
}

h2 {
  font-size: 28px;
}

#contacto ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

#contacto li {
  font-size: 4rem;
  margin: 20px;
}

#contacto li:hover {
  transition: 1s;
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  width: 100%;
  height: 90px;
  background-color: #af599e;
  color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

h3 {
  font-size: 28px;
  color: #fbfbfb;
}
