@import url("https://fonts.googleapis.com/css2? family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: #fbfbfb;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

nav {  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  padding: 20px;  
}

#name{
  padding: 25px;
  width: 200px;
}

main {
  max-width: 1200px;
  background-color: #fbfbfb;
}

section{
  min-height: 100vh; 
  min-width: 50vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.photo {
  margin-top: 110px;
  border-radius: 50%;
  width: 350px;
  max-width: 400px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
}

p {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

button {
  background-color: #af599e;
  color: #fbfbfb;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
}

article {
  background-color: rgba(175, 89, 158, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 100vw;
}

.icon {
  width: 50px;
  margin: 20px;  
}

footer {
  width: 100%;
  height: 90px;
  background-color: #af599e;
  color: #fbfbfb;
  text-align: center;
}

h3 {
  font-size: 28px;
  padding: 25px;
}
